body {
    text-align: center;

}
#canvas {
    position: relative;
    margin: 17em auto;
    background-color: #50787a;

}
.ball {
    background-color: black;
    position: absolute;
    display: inline-block;
    border-radius: 100%;

}
.bb {
    color: blue;
}
